<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="WeatherWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WeatherWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8088/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="service.WebService1Soap"
                name="WebService1Soap" />
            <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherWebServiceSoap"
                contract="Weather.WeatherWebServiceSoap" name="WeatherWebServiceSoap" />
            <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx"
                binding="customBinding" bindingConfiguration="WeatherWebServiceSoap12"
                contract="Weather.WeatherWebServiceSoap" name="WeatherWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>